<mat-card>
  <div style='width: 100%'>

    <mat-input-container>
      <input matInput [(ngModel)]='music.title' />
    </mat-input-container>

    <button mat-mini-fab [mat-menu-trigger-for]='menu' style='float:right;'>
              <mat-icon>add</mat-icon>
         </button><br>
    <mat-menu #menu='matMenu'>
      <button mat-menu-item *ngFor='let t of music.playerTypes' [value]='playerType' (click)='addPlayerType(t)'>
                  {{ t }}
                 </button>
    </mat-menu>

    <br><br>
    <div *ngFor='let p of music.things'>
      <app-player-detail *ngIf='p.viewMe' [player]='p' (playerSelected)='slectedPlayer=p'> </app-player-detail>
    </div>
  </div>
</mat-card>
