.flextable {
    display: flex;
    flex-wrap: wrap;
}

.flextable div {
    padding: 10px;
    text-align: right;
    width: 70px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}