<md-sidenav-container fullscreen>
    <md-sidenav #sidebar align="end">
        <md-nav-list>
            <a md-list-item (click)="sidebar.close();newMusic()">
                <md-icon md-list-icon>fiber_new</md-icon>
                <span md-line>New song</span>
            </a>

            <a *ngIf="user !== null" md-list-item (click)="sidebar.close();save()">
                <md-icon md-list-icon>cloud_download</md-icon>
                <span md-line>Save song</span>
            </a>

            <a *ngIf="user !== null" md-list-item (click)="sidebar.close();load()">
                <md-icon md-list-icon>cloud_upload</md-icon>
                <span md-line>Load song</span>
            </a>

             <a  md-list-item (click)="sidebar.close();metroSetup()">
                <img src="images/tempo.png" style="height:32px;float:left" alt="midiin" /> 
                <span >Metro Settings</span>
            </a>


            <a>    
            <slider-val [value]="settings.playahead" [minVal]="0.01" [maxVal]="2"  [fixed]="2"  [title]="'PlayAhead'"  (change)="settings.setPlayahead($event)"> </slider-val>
            </a>

        </md-nav-list>

        <!-- div *ngIf="user !== null" md-list-item (click)="sidebar.close();clean()">
            <md-icon md-list-icon>delete_sweep</md-icon>
            <span md-line>do not click</span>
        </div-->

    </md-sidenav>

    <md-toolbar>

        <p style="padding: 10px;">
            <img src="images/genesis_thicker.png" style="height: 40px; width: auto" alt="logo" />
        </p>

        <button *ngIf="user===null" md-button (click)="signIn()">
             <img src="images/btn_google_signin_light_normal_web.png" style="padding:0px;height: 36px"  />
          </button>

        <span style="flex-grow:100"></span>

        <button *ngIf="user!= null" md-button (click)="signOut()" style="padding:0px">
            <img src={{user.photoURL}}  style="height:40px"/>
          </button>

        <button md-icon-button (click)="sidebar.open()">
                <md-icon>more_vert</md-icon>
         </button>


    </md-toolbar>

    <musicApp></musicApp>
</md-sidenav-container>