
<mat-sidenav-container fullscreen>
    <mat-sidenav #sidebar align="end">
        <mat-nav-list>
            <a mat-list-item (click)="sidebar.close();newMusic()">
                <mat-icon mat-list-icon>fiber_new</mat-icon>
                <span mat-line>New song</span>
            </a>

            <a *ngIf="user !== null" mat-list-item (click)="sidebar.close();save()">
                <mat-icon mat-list-icon>cloud_download</mat-icon>
                <span mat-line>Save song</span>
            </a>

            <a *ngIf="user !== null" mat-list-item (click)="sidebar.close();load()">
                <mat-icon mat-list-icon>cloud_upload</mat-icon>
                <span mat-line>Load song</span>
            </a>

            <a mat-list-item>
               <p> import midi </p>  <input type="file" #midiload />
            </a>


             <a  mat-list-item (click)="sidebar.close();metroSetup()">
                <img src="assets/images/tempo.png" style="height:32px;float:left" alt="midiin" /> 
                <span >Metro Settings</span>
            </a>


            <a>    
            <slider-val [value]="settings.playahead" [minVal]="0.01" [maxVal]="2"  [fixed]="2"  [title]="'PlayAhead'"  (change)="settings.setPlayahead($event)"> </slider-val>
            </a>

        </mat-nav-list>

        <!-- div *ngIf="user !== null" mat-list-item (click)="sidebar.close();clean()">
            <mat-icon mat-list-icon>delete_sweep</mat-icon>
            <span mat-line>do not click</span>
        </div-->

    </mat-sidenav>

    <mat-toolbar>

        <p style="padding: 10px;">
            <img src="assets/images/genesis_thicker.png" style="height: 40px; width: auto" alt="logo" />
        </p>

        <button *ngIf="user===null" mat-button (click)="signIn()">
             <img src="assets/images/btn_google_signin_light_normal_web.png" style="padding:0px;height: 36px"  />
          </button>

        <span style="flex-grow:100"></span>

        <button *ngIf="user!= null" mat-button (click)="signOut()" style="padding:0px">
            <img src={{user.photoURL}}  style="height:40px"/>
          </button>

        <button mat-icon-button (click)="sidebar.open()">
                <mat-icon>more_vert</mat-icon>
         </button>


    </mat-toolbar>
    
    <app-music></app-music>
</mat-sidenav-container>